<%- include('./partials/head') %>
    <%- include('partials/nav', {current: '/stories' }); %>

        <main>
            <h1>stories</h1>

            <div class="top-content">
                <h1>Lessons</h1>
                <form>
                  <input type="search" id="story-search" placeholder="search...">
                  <button aria-label="search"><i class='bx bx-search'></i></button>
                </form>
              </div>


        </main>