<%- include('./partials/head') %>
  <header>
    <%- include('partials/nav', {current: '/' }); %>
  </header>

  <main>
    
      <h1>
        <%= story.title %>
      </h1>

  </main>



  <%- include('./partials/foot') %>