@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --poppins: "Poppins", Arial, Helvetica, sans-serif;

  --primary-one: #121212;
  --primary-two: #fff9f9;
  --primary-three: #dadfe1;

  --menu-one: #3f92b6;
  --accent-one: #3d7a95;
  --menu-two: #599ae7;
  --accent-two: #4d7eb7;
  --menu-three: #954be2;
  --accent-three: #451acf;
  --menu-four: #06a192;
  --accent-four: #078377;
  --menu-five: #fd8c73;
  --accent-five: #ea775e;

  --color-one: #1cb854;
  --color-two: #37c6ab;
  --color-three: #059cc0;
  --color-four: #ff8c59;
  --color-five: #ffa02e;

  --extra-color: #471871;
  --extra-two: rgb(15, 112, 136);
  --extra-three: #f48b0c;
  --extra-four: #e0684e;

  --menu-layover: #292929; /* 95% opacity */

  --gradient-one: linear-gradient(#3f93b7, #1c5872);
  --gradient-two: linear-gradient(#471871, #040404);
  --gradient-three: linear-gradient(#451971, #162152);

  --method-one: #9264f4;
  --method-two: #9264f4;
  --method-three: #a170cf;
  --method-gradient: linear-gradient(#471871, #142151);

  --stats-one: #27b26f;
  --stats-two: #43756c;
  --stats-three: #6fcfad;
  --stats-method: linear-gradient(#219b9b, #1b7070);

  --test-one: #599ae7;
  --test-two: #424b75;
  --test-three: #707fcf;
  --test-method: linear-gradient(#21599b, #1b3d70);

  --prof-one: #e76a59;
  --prof-two: #754643;
  --prof-three: #e98d7b;
  --prof-method: linear-gradient(#f0775d, #b45751);

  --space-reg: 1.2rem;
  --space-half: 0.6rem;
  --space-small: 0.3rem;
  --space-big: 1.8rem;
  --space-third: 0.9rem;
}

* {
  box-sizing: border-box;
  color: var(--primary-one);
  margin: 0;
  padding: 0;
  font-family: var(--poppins);
}

body {
  line-height: 1.5;
  background: var(--gradient-three);
}

main {
  padding: var(--space-half);
  color: var(--primary-two);
  overflow: hidden;

  h1,
  h2 {
    color: var(--primary-two);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h2 a {
  color: var(--primary-two);
  text-decoration: none;
}

h2 a:hover {
  color: var(--menu-three);
  text-decoration: underline;
}

/** nav */

header {
  background-color: var(--primary-two);
  position: sticky;
  top: 0;
  z-index: 100;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-half);
  border-bottom: 1px solid var(--menu-three);
  width: 100vw;

  ul {
    display: flex;
    flex-direction: row;
    font-size: 0.9rem;
  }

  li {
    margin-right: var(--space-half);
    list-style: none;
  }

  a {
    color: black;
    text-decoration: none;
  }
}

.active {
  color: var(--menu-three);
}

/** form & search */

.top-content {
  padding: var(--space-big) var(--space-small);
  margin-bottom: var(--space-big);
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--primary-two);
  width: 55%;
  padding: var(--space-small);
  border-radius: 6px;

  input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding: var(--space-small);
  }
  button {
    background-color: transparent;
    font-size: 1.2rem;
    border: none;
  }
  button i {
    color: var(--menu-three);
  }
}

/** containers */

.playlist-wrapper,
.story-wrapper {
  --space-big: 2rem;
  margin-bottom: var(--space-big);
  padding: var(--space-small);
}

.playlist-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow-x: scroll;
  scrollbar-color: var(--menu-three) var(--extra-color);
  padding: var(--space-third);
}

.story-container {
  display: grid;
  place-items: center;
}

/** playlist article */

.playlist {
  display: grid;
  place-items: center;
  background-color: var(--primary-two);
  min-width: 14rem;
  margin-right: var(--space-big);
  padding: var(--space-half) var(--space-small);
  border-radius: 6px;

  h3 {
    text-align: center;
    align-self: flex-start;
  }

  img {
    align-self: flex-start;
    width: 180px;
    height: 180px;
    margin-top: var(--space-small);
    border-radius: 6px;
  }

  p {
    overflow: scroll;
  }
}

.new-playlist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #954be280;
  min-width: 14rem;
  padding: var(--space-half) var(--space-small);
  border-radius: 6px;

  p {
    color: var(--primary-two);
    margin-bottom: var(--space-half);
  }
}

.new-playlist button {
  display: grid;
  place-items: center;
  height: 6rem;
  width: 6rem;
  background-color: var(--menu-three);
  font-size: 3.2rem;
  border: none;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;

  i {
    font-size: 2.5rem;
    color: var(--primary-two);
  }
}

.new-playlist:hover button {
  background-color: var(--extra-color);
}

.new-playlist:active button {
  scale: 0.95;
  background-color: var(--extra-color);
  border: 1px solid var(--menu-three);
}

.playlist-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: flex-end;
}

.carousel-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  a {
    color: var(--primary-two);
    margin: 0 var(--space-half);
  }

  button {
    transition: all 0.25s ease-in-out;
    margin: var(--space-small);
  }
}

.carousel-btn button:hover {
  scale: 1.05;
  background-color: var(--method-two);
}

.carousel-btn button:active {
  scale: 0.95;
  background-color: var(--method-three);
}

/** story article */

.story {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 13rem;
  max-width: 20rem;
  background-color: var(--primary-two);
  padding: var(--space-half) var(--space-third);
  margin: var(--space-third) 0;
  border-radius: 6px;
}

.story img {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  margin-top: var(--space-half);
}

.story h3 {
  font-size: 1.5rem;
  text-align: center;
}

.story-extras {
  display: flex;
  flex-direction: row;
  margin: var(--space-small) 0;
}

/** buttons */

button, .play-btn  {
  display: grid;
  place-items: center;
  color: var(--primary-two);
  height: 2rem;
  width: 2rem;
  align-items: center;
  margin: 0 var(--space-small);
  border: none;
  border-radius: 50%;
  transition: all 0.25s ease-in-out;

  i {
    font-size: 1.3rem;
    color: var(--primary-two);
  } 
}

.story-extras a {
  text-decoration: none;
}

button:hover {
  scale: 1.05;
}

button:active {
  scale: 0.95;
}

.download-btn {
  background-color: var(--color-five);
}

.download-btn:hover {
  background-color: var(--extra-three);
}

.addto-btn {
  background-color: var(--menu-five);
}

.addto-btn:hover {
  background-color: var(--extra-four);
}

.play-btn {
  background-color: var(--color-three);
}

.play-btn:hover {
  background-color: var(--extra-two);
}

.carousel-btn button {
  justify-self: center;
  background-color: var(--menu-three);
}

/* media query */

@media (min-width: 530px) {

  .container {
    display: grid;
    place-items: center;
  }

  .top-content {
    width: 100%;
    max-width: 40rem;
  }

  .story-wrapper, .playlist-wrapper {
    display: grid;
    width: 100%;
    max-width: 40rem;
  }

  .playlist-container {
    max-width: 40rem;
  }

  .story-container {
    display: grid;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 0rem 1rem;
    width: 100%;
  }

  .story {
    height: 27rem;
  }

  .story h3 {
    height: 4rem;
  }

  .story img {
    height: 150px;
    width: 150px;
  }

  .story p {
    height: 9rem;
    padding-top: var(--space-small);
    overflow: hidden;
  }

  .story-extras {
    height: 2rem;
  }

}

@media (min-width: 630px) {
  header {
    --space-big: 3rem;
    nav {
      padding-left: var(--space-big);
    }
  }
}
